.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid rgb(0, 148, 81);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.user-select-none {
  user-select: none;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  /* Ensure the background is set */
  z-index: 1;
  /* Ensure it stays above other content */
}